// File for scss-vars.
// For example: main colors, paddings and so on.

$font: "OpenSans", Helvetica, Arial, sans-serif;

$white: #ffffff;
$black: #000000;
$orange: #ff891e;
$lightgray: rgba(0, 0, 0, .1);

$xs: 359px;
$md: 978px;
$ld: 1170px;